{% extends 'layout.html' %}
{% block body %}
<h2> Update '{{ task.name }}' </h2>
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }}
        <br>
        {{ form.desc.label }} {{ form.desc }}
        <br>
        {{ form.due.label }} {{ form.due }}
        <br>
        {{ form.status.label }} {{ form.status }}
        <br>
        {{ form.submit }}
        <br>
    </form>
</div>
{% endblock body %}